$white: #ffffff;
$blue: #55afff;
$light-blue: #eef7ff;
$dark-red: #e21937;
$red: #d45858;
$crimson: #ff8585;
$light-red: #ffcccc;
$very-light-red: #fef0f0;
$green: #9dd458;
$light-green: #89f09c;
$dark-grey: #808080;
$medium-grey: #999999;
$grey: #a0a0a0;
$mid-light-grey: #dbdbdb;
$light-grey: #efefef;
$grey-blue: #989eaa;
$black: #101010;
